<ion-app class="contenido">
  <ionic-content class="ion-margin">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio-registro" [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-toolbar class="ion-text-center">

      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../../assets/img/logo-upline-color.png" alt="" class="img-header-logo">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <img src="../../../assets/img/logo-azul.png" alt="" class="img-header">
            <h6>Continua con el registro</h6>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-toolbar>

    <form #Datos="ngForm" (ngSubmit)="guardarDatosU(Datos)" class="formulario">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label" position="stacked">Nombres</ion-label>
              <input type="hidden" name="FK_idUsuario" #FK_idUsuario="ngModel" [(ngModel)]="idusuario">
              <ion-input value="Nataliaaaa" class="input" name="nombres" #nombres="ngModel" [(ngModel)]="datosUs.nombres" required type="text"></ion-input>
            </ion-item>
            <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
            <div *ngIf="nombres.errors.required" class="validacion">
              Debes llenar este campo
            </div>
          </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label" position="stacked">Apellidos</ion-label>
              <ion-input class="input" name="apellidos" #apellidos="ngModel" [(ngModel)]="datosUs.apellidos" required type="text"></ion-input>
            </ion-item>
            <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
              <div *ngIf="apellidos.errors.required" class="validacion">
                Debes llenar este campo
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label" position="stacked">Usuario</ion-label>
              <ion-input class="input" name="usuario" #usuario="ngModel" [(ngModel)]="datosUs.usuario" required type="text"></ion-input>
            </ion-item>
            <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
              <div *ngIf="usuario.errors.required" class="validacion">
                Debes llenar este campo
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="label" position="stacked">Fecha de nacimiento</ion-label>
              <ion-datetime class="datetime" cancelText="Cancelar" doneText="Listo"
                [monthShortNames]="meses" name="fechaNacimiento" [ngModel]="fechaNacimiento" required (ionChange)="cambioFecha($event)"></ion-datetime>
            </ion-item>
            <div *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)">
              <div *ngIf="fechaNacimiento.errors.required" class="validacion">
                Debes seleccionar una fecha
              </div>
            </div>
          </ion-col>
        </ion-row>


          <ion-row>
            <ion-list>
              <ion-radio-group name="sexo" #sexo="ngModel" [(ngModel)]="datosUs.sexo" required>
                <ion-list-header>
                  <ion-label class="label" position="stacked">Sexo</ion-label>
                </ion-list-header>
                <ion-row>
                  <ion-item class="sin-borde" lines="none">
                    <ion-label class="input">Femenino</ion-label>
                    <ion-radio slot="start" value="Femenino"></ion-radio>
                  </ion-item>

                  <ion-item class="sin-borde" lines="none">
                    <ion-label class="input">Masculino</ion-label>
                    <ion-radio slot="start" value="Masculino"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-radio-group>
            </ion-list>
            <div *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)">
              <div *ngIf="sexo.errors.required" class="validacion">
                Debes llenar este campo
              </div>
            </div>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item class="sin-borde" lines="none">
                <ion-text class="label-terminos">
                  Al hacer click aceptas que estás de acuerdo con los términos de
                  política y privacidad de Upline.
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="boton" type="submit" expand="block" color="tertiary" (click)="activarSpinner()">
              <ion-spinner name="crescent" *ngIf="spinner"></ion-spinner>
              <span *ngIf="texto">Finalizar registro</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

  </ionic-content>
</ion-app>