.img-header-logo {
    width: 40px;
}

.img-header {
    width: 80px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.label, .input, .datetime {
    font-family: 'Montserrat', sans-serif;
}

.label-terminos {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.item-ios.item-block .item-inner > .sin-borde {
    border-bottom: none !important;
}

.item-md.item-block .item-inner > .sin-borde{
    border-bottom: none !important; 
}
    
.item-wp.item-block .item-inner > .sin-borde{
    border-bottom: none !important;
}

