<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-icon name="create-outline" slot="start" style="color: #512DA8;"></ion-icon>
            <ion-label class="menu-item">Editar</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="trash-outline" slot="start" style="color: #512DA8;"></ion-icon>
            <ion-label class="menu-item">Eliminar</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>