.img-header-logo {
    margin-top: 20%;
    width: 40px;
}

.img-header {
    width: 80px;
}

h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #90A4AE;
}

.label {
    font-weight: bold;
    font-size: 18px;
}

.label, .input, .datetime {
    font-family: 'Montserrat', sans-serif;
}

.btn-google {
    margin-top: 25%;
}

.btn-google .icono {
    margin-right: 5%;
}
