<ion-app>

  <ion-content>
    <ion-toolbar class="ion-text-center">
      <ion-grid>

        <ion-row>
          <ion-col>
            <img src="../../../assets/img/logo-upline-azul.png" class="img-header-logo">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <img src="../../../assets/img/logo-azul.png" class="img-header">
            <h6>¡Empecemos con el nuevo registro!</h6>
            <p><ion-icon name="bulb-outline"></ion-icon> Primero unos datos</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    <form #RegForm="ngForm" (ngSubmit)="guardarUsuario(RegForm)" class="ion-margin">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="item">
              <ion-label class="label" position="stacked">Correo electrónico</ion-label>
              <ion-input name="correo" #correo="ngModel" [(ngModel)]="usuario.correo" class="input" required type="email"></ion-input>
            </ion-item>
            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
              <div *ngIf="correo.errors.required" class="validacion">
                Este campo es obligatorio
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="item">
              <ion-label class="label" position="stacked">Clave</ion-label>
              <ion-input name="clave" #clave="ngModel" [(ngModel)]="usuario.clave" class="input" required type="password"></ion-input>
            </ion-item>
            <div *ngIf="clave.touched && !clave.valid">
              <div *ngIf="clave.errors.required" class="validacion">
                Este campo es obligatorio
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="registro">
          <ion-col>
            <div class="alerta">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="2">
                    <ion-icon name="alert-circle" class="alerta-icono"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                    No se pudo realizar el registro o este correo ya está vinculado a una cuenta.
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="boton btn-google" expand="block" fill="outline" color="tertiary" 
            [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fab fa-google icono">
            </i> Continuar con Google</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="boton" type="submit" expand="block" color="tertiary" routerLinkActive="router-link-active" (click)="activarSpinner()">
            <span *ngIf="texto">Continuar</span>
            <ion-spinner *ngIf="spinner" name="crescent"></ion-spinner>
          </ion-button>
          </ion-col>
        </ion-row>

        <!-- <ion-row *ngFor="let usuario of usuarios">
          <ion-col>
            <p>correo: {{ usuario.correo }}</p>
            <p>clave: {{ usuario.clave }}</p>
          </ion-col>
        </ion-row> -->

      </ion-grid>
    </form>
  </ion-content>
</ion-app>