.img-header-logo {
    margin-top: 20%;
    width: 40px;
}

.img-header {
    width: 80px;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #90A4AE;
}

.label {
    font-weight: bold;
    font-size: 18px;
}

.label, .input, .datetime {
    font-family: 'Montserrat', sans-serif;
}

.btn-google {
    margin-top: 5%;
}

.btn-google .icono {
    margin-right: 5%;
}

.alerta {
    background-color: #311B92;
    border-radius: 13px;
    padding: 10px;
    position: relative;
    margin-top: 10%;
    font-family: 'Quicksand', sans-serif;
    color: #FFF;
}

.alerta-icono {
    position: relative;
    margin-top: 10%;
    font-size: 40px;
}
