<ion-app>

  <ion-content>
    <ion-toolbar class="ion-text-center">
      <ion-grid>

        <ion-row>
          <ion-col>
            <img src="../../../assets/img/logo-upline-azul.png" class="img-header-logo">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <img src="../../../assets/img/logo-azul.png" class="img-header">
            <h6>Bienvenid@ a nuestra red social</h6>
            <p>¡Empecemos con el nuevo registro!</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    <form #RegForm="ngForm" (ngSubmit)="guardarUsuario(RegForm)" class="ion-margin">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="item">
              <ion-label class="label" position="stacked">Correo electrónico</ion-label>
              <ion-input name="correo" #correo="ngModel" [(ngModel)]="usuario.correo" class="input" required type="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="item">
              <ion-label class="label" position="stacked">Clave</ion-label>
              <ion-input name="clave" #clave="ngModel" [(ngModel)]="usuario.clave" class="input" required type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="boton btn-google" expand="block" fill="outline" color="tertiary" 
            [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fab fa-google icono">
            </i> Continuar con Google</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button class="boton" type="submit" expand="block" color="tertiary" 
            [routerLink]="['/fin-registro']" routerLinkActive="router-link-active">
            Continuar
          </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div *ngIf="registro">
              Registro completado
            </div>
            <div *ngIf="registro == false">
              No pudiste registrarte
            </div>
          </ion-col>
        </ion-row>


        <ion-row *ngFor="let usuario of usuarios">
          <ion-col>
            <p>correo: {{ usuario.correo }}</p>
            <p>clave: {{ usuario.clave }}</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </ion-content>
</ion-app>