<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="titulo1">Actividades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment color="tertiary" (ionChange)="segmentoCambio($event)">
    <ion-segment-button value="noti">
      <ion-label>Notificaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="soli">
      <ion-label>Solicitudes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content>
    <ion-list>
      <ion-list-header class="titulo">
        Hoy
      </ion-list-header>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header class="titulo">
        Ayer
      </ion-list-header>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header class="titulo">
        Este mes
      </ion-list-header>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Luis Pablo Góez</h2>
          <p>Esta app va tomando rumbo...</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>