.titulo1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #512DA8;
    font-size: 17px;
}

.img_avatar_publi{
    border-radius: 50%;
    border: 3px solid #512DA8;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 12px;
}