ion-icon{
    font-size: 64px;
    color: black;
}

.p{
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.p2{
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

.p3{
    font-weight: bold;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-top: 14px;
}

.footer-card{
    margin-top: 15%;
}

.card{
    margin-top: 25%;
}

.icon {
    margin-top: 20px;
}

.footer{
    color: #5260ff;
}

.img{
    width: 20%;
    display:block;
    margin:auto;
    margin-top: 60px;
}