<ion-app>
  <ion-content>
    <ion-card>
      <ion-card-header class="ion-no-border">
        <ion-item>
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
          <ion-label>
            <ion-row>
              <ion-col>
                <h3>Luis Pablo Góez</h3>
                <p>4/06/2020</p>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="ellipsis-vertical-outline" class="logo-menu-card"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <img src="../assets/img/natalia.jpg" />
      <ion-card-content>
        <p class="des-foto">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the
          capital of the Wisconsin Territory in 1836.</p>
        <ion-row>
          <ion-col>
            <ion-icon name="chevron-up-circle-outline" class="reacciones"></ion-icon>
            <ion-icon name="chatbox-outline" class="reacciones"></ion-icon>
            <ion-icon name="paper-plane-outline" class="reacciones"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Le gusto a <span>58 personas </span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Karen_Gallego:</span> Hermosa la natalia</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Cristian58:</span> Mera fea</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>EderLara90:</span> La mejor programadora</h6>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="ion-no-border">
        <ion-item>
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
          <ion-label>
            <ion-row>
              <ion-col>
                <h3 routerLink="/perfil-usuario">Luis Pablo Góez</h3>
                <p>4/06/2020</p>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="ellipsis-vertical-outline" class="logo-menu-card"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <img src="../assets/img/natalia.jpg" />
      <ion-card-content>
        <p class="des-foto">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the
          capital of the Wisconsin Territory in 1836.</p>
        <ion-row>
          <ion-col>
            <ion-icon name="chevron-up-circle-outline" class="reacciones"></ion-icon>
            <ion-icon name="chatbox-outline" class="reacciones"></ion-icon>
            <ion-icon name="paper-plane-outline" class="reacciones"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Le gusto a <span>58 personas </span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Karen_Gallego:</span> Hermosa la natalia</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Cristian58:</span> Mera fea</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>EderLara90:</span> La mejor programadora</h6>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="ion-no-border">
        <ion-item>
          <img class="img_avatar_publi" src="../assets/img/luis.jpg">
          <ion-label>
            <ion-row>
              <ion-col>
                <h3 routerLink="/perfil-usuario">Luis Pablo Góez</h3>
                <p>4/06/2020</p>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="ellipsis-vertical-outline" class="logo-menu-card"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <img src="../assets/img/natalia.jpg" />
      <ion-card-content>
        <p class="des-foto">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the
          capital of the Wisconsin Territory in 1836.</p>
        <ion-row>
          <ion-col>
            <ion-icon name="chevron-up-circle-outline" class="reacciones"></ion-icon>
            <ion-icon name="chatbox-outline" class="reacciones"></ion-icon>
            <ion-icon name="paper-plane-outline" class="reacciones"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Le gusto a <span>58 personas </span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Karen_Gallego:</span> Hermosa la natalia</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Cristian58:</span> Mera fea</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>EderLara90:</span> La mejor programadora</h6>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>