<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <img src="../assets/img/logo-upline-azul.png" class="img-header ion-text-center"
          slot="start"><h4>Publicaciones</h4>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let publicaciones of publicacion">
      <ion-card-header class="ion-no-border">
        <ion-item>
          <img class="img_avatar_publi" src="../assets/img/{{ publicaciones.foto }}">
          <ion-label>
            <ion-row>
              <ion-col>
                <h3>{{ publicaciones.nombres }} {{ publicaciones.apellidos }}</h3>
                <p>{{ publicaciones.fechaPublicacion }}</p>
              </ion-col>
              <ion-col class="ion-text-end">
                <ion-icon name="ellipsis-vertical-outline" class="logo-menu-card" (click)="createPopover( $event )">
                </ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <img src="../assets/img/publi.jpg" />
      <ion-card-content>
        <p class="des-foto">{{ publicaciones.contenido }}</p>
        <ion-row>
          <ion-col>
            <ion-icon name="chevron-up-circle-outline" class="reacciones"></ion-icon>
            <ion-icon name="chatbox-outline" class="reacciones"></ion-icon>
            <ion-icon name="paper-plane-outline" class="reacciones"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Le gusto a <span>58 personas </span></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Karen_Gallego:</span> Hermosa la natalia</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>Cristian58:</span> Mera fea</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6><span>EderLara90:</span> La mejor programadora</h6>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    
  </ion-content>
</ion-app>