<ion-app class="contenido">
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-item>
          
            <img class="img_avatar_publi" src="../assets/img/luis.jpg">
          
          <ion-label>
            <ion-row>
              <ion-col>
                <h3 routerLink="/perfil-usuario">Luis Pablo Góez</h3>
              </ion-col>
              <ion-col class="ion-text-end">
                <p>4/06/2020</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <img src="../assets/img/logo-upline.png" />
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button class="boton_publi">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button class="boton_publi">
            <ion-icon name="chatbox"></ion-icon>
            <div>3 comentarios</div>
          </button>
        </ion-col>
        <ion-col>
          <p class="boton_publi">11h ago</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>
</ion-app>