.header {
    padding: 10px;
}

.contenedor {
    margin-top: 5%;
}

.usuario {
    font-family: 'Gotu', sans-serif;
    font-weight: bold;
    color: #000;
}

.titulo-menu {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 10%;
}

.menu-item {
    font-family: 'Montserrat', sans-serif;
}

.nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.descripcion-bio {
    font-family: 'Quicksand', sans-serif;
    color: #273746;
    position: relative;
    bottom: 10%;
    margin-top: 0;
}

.menu-bio {
    width: 100%;
    height: 52px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #512DA8;
    border-bottom: 2px solid #512DA8;
    border-top: 2px solid #512DA8;
}

.icono {
    margin-right: 69%;
}

.tipo-us {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #512DA8;
    margin-left: 11%;
    position: relative;
    bottom: 5px;
}

.foto-perfil {
    width: 30%;
    border-radius: 50%;
    border: 3px solid #512DA8;
    margin-left: 35%;
}

.menu-info {
    font-family: 'Montserrat', sans-serif;
}

.menu-num {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    left: 30%;
}

.img-publi {
    width: 40px;
    border-radius: 50%;
}

.usuario-publi {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 10px;
}

.fecha-publi {
    font-size: 12px;
    color: #7F8C8D;
    position: relative;
    bottom: 20px;
}

.iconrese{
    margin-right: 2%;
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
}

.img_avatar_publi{
    width: 15%;
    border-radius: 50%;
    border: 3px solid #512DA8;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: gray;
}

.p2{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 12px;
    margin-left: 6px;
}

.footercard{
    padding: 10px;
}

.logo-menu-card{
    color: #512DA8;
    font-size: 25px;
}

.p3{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 12px;
}

.des-foto{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    margin-bottom: 7px;
}

.reacciones{
    color: #512DA8;
    font-size: 28px;
    margin-right: 25px;
}

span{
    font-weight: bold;
}