<ion-app>
  <ion-menu side="end" content-id="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar translucent>
        <h3 class="titulo-menu">Configuraciones</h3>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail-outline" slot="start" style="color: #512DA8;"></ion-icon>
          <ion-label class="menu-item">Mensajes</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="key-outline" slot="start" style="color: #512DA8;"></ion-icon>
          <ion-label class="menu-item">Privacidad</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" slot="start" style="color: #512DA8;"></ion-icon>
          <ion-label class="menu-item">Cuenta</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="create-outline" slot="start" style="color: #512DA8;"></ion-icon>
          <ion-label class="menu-item">Editar perfil</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="help-outline" slot="start" style="color: #512DA8;"></ion-icon>
          <ion-label class="menu-item">Ayuda</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content class="ion-page" id="main-content">
    <div *ngFor="let perfiles of perfil">
      <ion-header class="ion-no-border" slot="fixed">
        <ion-toolbar class="header">
          <ion-title class="usuario">@{{perfiles.usuario}} </ion-title>
          <span class="tipo-us">Desarrollador</span>
          <ion-buttons slot="end">
            <ion-menu-button>
              <ion-icon name="settings-outline" style="color: #512DA8;"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-grid class="contenedor">
        <ion-row>
          <ion-col>
            <img src="../../../assets/img/natalia.jpg" class="foto-perfil">
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin">
          <ion-col size="4">
            <p class="menu-info">Publicaciones</p>
            <span class="menu-num">5</span>
          </ion-col>
          <ion-col size="4">
            <p class="menu-info">Seguidores</p>
            <span class="menu-num">127</span>
          </ion-col>
          <ion-col size="4">
            <p class="menu-info">Seguidos</p>
            <span class="menu-num">177</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-horizontal">
          <ion-col class="nombre">{{ perfiles.nombres }} {{ perfiles.apellidos }}</ion-col>
        </ion-row>
        <ion-row class="ion-margin-horizontal">
          <ion-col>
            <p class="descripcion-bio">
              Desarrolladora Front-End
              <br>
              Conocimiento de Python, Angular y PHP
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="menu-bio">
            <ion-segment color="tertiary" [(ngModel)]="segmentSelect">
              <ion-segment-button value="publi">
                <ion-icon style="font-size: 26px;" name="albums-outline"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="rese">
                <ion-icon style="font-size: 26px;" name="newspaper-outline"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="segmentSelect == 'publi'">

      <ion-card>
        <ion-card-header class="ion-no-border">
          <ion-item>
            <img class="img_avatar_publi" src="../assets/img/luis.jpg">
            <ion-label>
              <ion-row>
                <ion-col>
                  <h3>Luis Pablo Góez</h3>
                  <p class="p3">4/06/2020</p>
                </ion-col>
                <ion-col class="ion-text-end">
                  <ion-icon name="ellipsis-vertical-outline" class="logo-menu-card"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <img src="../assets/img/natalia.jpg" />
        <ion-card-content>
          <p class="des-foto">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the
            capital of the Wisconsin Territory in 1836.</p>
          <ion-row>
            <ion-col>
              <ion-icon name="chevron-up-circle-outline" class="reacciones"></ion-icon>
              <ion-icon name="chatbox-outline" class="reacciones"></ion-icon>
              <ion-icon name="paper-plane-outline" class="reacciones"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="p3">Le gusto a <span>58 personas </span></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6><span>Karen_Gallego:</span> Hermosa la natalia</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6><span>Cristian58:</span> Mera fea</h6>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6><span>EderLara90:</span> La mejor programadora</h6>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="segmentSelect == 'rese'">

      <ion-grid>
        <ion-row>
          <ion-col>
            <form>
              <ion-button color="tertiary" expand="block" (click)="AbrirModalAdd()">
                <ion-icon class="iconrese" name="add-circle-outline"></ion-icon>Agregar reseña
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card>
        <ion-card-header class="ion-no-border">
          <ion-item>
            <img class="img_avatar_publi" src="../assets/img/luis.jpg">
            <ion-label>
              <ion-row>
                <ion-col>
                  <h3>Luis Pablo Góez</h3>
                  <h6>@LuisGoez33</h6>
                </ion-col>
                <ion-col class="ion-text-end">
                  <ion-icon name="ellipsis-vertical-outline" class="logo-menu-card" (click)="createPopover( $event )">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <p class="des-foto">Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named
            the
            capital of the Wisconsin Territory in 1836.</p>
        </ion-card-content>
        <ion-footer class="footercard">
          <p class="p2">4/06/2020</p>
        </ion-footer>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>


</ion-app>