<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="titulo"> Nueva publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let perfiles of perfil">

  <ion-grid fixed class="ion-no-padding">
    <ion-row>
      <ion-col size="2">
        <img src="../../../assets/img/{{ perfiles.foto }}" class="img-publi">
      </ion-col>
      <ion-col size="10">
        <p class="usuario-publi">{{ perfiles.nombres }} {{ perfiles.apellidos }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form #publi="ngForm" (ngSubmit)="guardarPublica(publi)" class="formulario">
    <ion-grid>
      <ion-row>
        <ion-col>
          <input type="hidden" name="FK_idUsuario" #FK_idUsuario="ngModel" [(ngModel)]="idusuario">
          <textarea rows="20" placeholder="Escribe el contenido aquí" name="contenido" #contenido="ngModel"
      [(ngModel)]="publicacion.contenido" class="textarea"></textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" class="boton" color="tertiary" (click)="activarSpinner()">
            <ion-spinner name="crescent" *ngIf="spinner"></ion-spinner>
            <span *ngIf="texto">Publicar</span>
          </ion-button>
      
          <ion-button class="boton-a" color="tertiary" fill="outline">
            <ion-icon slot="start" name="add-outline"></ion-icon> Añadir fotos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>   
  </form>

  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-text-center">
      <ion-title>
        <img src="../../../assets/img/logo-azul.png" class="img-footer">
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>