@font-face {
    font-family: 'Gotu';
    src: url('../assets/fonts/Gotu.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins.woff2') format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand.woff2') format('woff2');
}