<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center titulo">{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #resena="ngForm" (ngSubmit)="guardarResena(resena)" class="ion-margin">

    <textarea class="contenido" rows="15" placeholder="Escribe la reseña aquí..."
      name="msjResena" #msjResena="ngModel" [(ngModel)]="resena.msjResena"></textarea>

    <div *ngIf="msjResena.invalid && (msjResena.dirty || msjResena.touched)">
      <div *ngIf="msjResena.errors.required" class="validacion">
        Debes escribir una reseña.
      </div>
    </div>

    <ion-button (click)="SalirConArgumentos()" expand="block" class="boton" color="tertiary" type="submit">
      <span>Enviar reseña</span>
    </ion-button>
    <ion-button (click)="SalirSinArgumentos()" expand="block" class="boton" color="tertiary" fill="outline">
      Salir
    </ion-button>
  </form>

  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-text-center">
      <ion-title>
        <img src="../../../assets/img/logo-azul.png" class="img-footer">
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>