.contenido {
    width: 90%;
    margin: 5%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #512DA8;
}

.boton {
    margin-top: 1%;
}

.img-footer{
    width: 60px;
    margin-top: 145px;
}