<ion-content>
  <div class="contenido">
    <ion-grid fixed>

      <ion-row>
        <ion-col>
          <img src="../../../assets/img/exito.png" class="img-carga">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="titulo">¡Todo salió bien!</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-margin">
        <ion-col>
          <p class="bienvenido">Bienvenido a </p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-no-margin">
        <ion-col>
          <img src="../../../assets/img/logo-blanco.png" class="logo-letras">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-spinner name="crescent" class="spinner"></ion-spinner>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>