.img{
    width: 20%;
    display:block;
    margin:auto;
    margin-top: 380px;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.label{
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
}