<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="publicaciones">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="notificaciones">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="agregar">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="ajustes">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="perfil-usuario">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>